/* VolunteerDashboard.css */

.dashboard-container {
    padding: 20px;
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
  }
  
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .dashboard-header .logo {
    height: 40px;
  }
  
  .dashboard-header h1 {
    color: #5c52cc;
    margin: 0;
  }
  
  .logo {
    height: 50px;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-right span {
    color: #5c52cc;
  }
  
  .logout-button {
    padding: 8px 16px;
    background-color: #5c52cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dashboard-content {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .dashboard-cards {
    display: flex;
    gap: 20px;
    justify-content: space-around;
  }
  
  .dashboard-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
  }
  
  .dashboard-card h2 {
    color: #5c52cc;
  }
  
  .analytics-section {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* .analytics-chart {
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .analytics-chart canvas {
    width: 100%;
    height: auto;
  }
  
  .chart-circle {
    width: 150px;
    height: 150px;
  }
  
  /* .calendar-container {
    background-color: #e6e7ee;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  } */

  .calendar-container {
    margin-top: 20px;
    background-color: #e6e7ee;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  .highlighted-date {
    background: red ;
    color: white;
    border-radius: 40%;
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  
  .camps-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .camps-table th, .camps-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .camps-table th {
    background-color: #4c4cfc;
    color: white;
  }
  
  .popup-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4c4cfc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  